.App {
  text-align: center;
}
body {
  background: linear-gradient(
    90deg,
    #F2E4D8 0%,
    #fff9f4 100%
  );
}

@font-face {
  font-family: Grotesk;
  src: url(./fonts/ProtoGroteskWeb-Regular.ttf);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .icons {
  margin-left: 2%;
} */

.icons:hover {
  color: black;
  }

  .icons {
    /* display: flex; */
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }


.todo {
  display: flex;
  justify-content:start;

}

h1 {
  padding-top:1em;
  padding-bottom:.5em;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    #0C260E 0%,
    #5c2a0d 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-button:hover {
  color:rgba(255, 118, 20, 1);
}

.input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #0C260E;
  outline: none;
  width: 320px;
  background: transparent;
  color: black;
  margin: 4px auto;
  align-items: center;
  width: 70%;
 
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 80%;
}

.mainTodoForm {
  margin: auto;
  width: 60%;
  padding-bottom: 1em;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    #407272 0%,
    #4F8C8C 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    #0C260E 0%,
    #142f16 100%
  );
}



.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    #A64E1B 0%,
    #c25617 100%
  );
  color:white;
}

.mainTitle {
 margin: auto;
 width: 60%;
 color: #0C260E;
}